.container {
  height: 400px;
  width: 400px;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.square {
  height: 100px;
  width: 100px;
  background-color: pink;
  outline: 1px solid black;
}
